*.log
*.trs
*.l[ao]
*.o
*~
.dirstamp
Makefile
Makefile.in
aclocal.m4
compile
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h?
.deps/
.libs/
autom4te.cache/
m4/

tym.1
tym
tym-test
include/common.h
/config.*
/app-config.*
tym-*.tar.gz
test-driver

.ccls
.ccls-root
.ccls-cache/
compile_commands.json

AppDir
appimage-build
*.AppImage*
