*.log
*.trs
*.l[ao]
*.o
*~
.dirstamp
Makefile
Makefile.in
aclocal.m4
compile
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h?
.deps/
.libs/
autom4te.cache/
m4/

tym.1
src/common.h
/config.*
tym
tym-*.tar.gz
test-driver
tym_test_regex
