*.l[ao]
*.o
*~
.dirstamp
Makefile
Makefile.in
aclocal.m4
compile
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h?

.deps/
.libs/
autom4te.cache/
m4/

/config.*
/conf.*

src/version.h
tym
tym-*.tar.gz
