[Desktop Entry]
Categories=GTK;System;TerminalEmulator;
Comment=A tiny term for minimalists
Encoding=UTF-8
Exec=tym
Icon=terminal
Name=tym
StartupNotify=true
Terminal=false
TryExec=tym
Type=Application
X-GNOME-SingleWindow=false
